
.heartIconWrapper {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(0,0,0,.08);
  cursor: pointer;
}

/* Grid:  < 640px */
.productGridContainer {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, minmax(0, 1fr)); 
}

/* ≥ 640px */
@media (min-width: 640px) {
  .productGridContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* ≥ 1024px */
@media (min-width: 1024px) {
  .productGridContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.heroContainer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  margin-bottom: 16px;
  border-radius: 8px;
  gap: 8px;
  img {
    aspect-ratio: 3 / 2;
  }
}

.heroNameAndDescription{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
}

@media (min-width: 1024px) {
  .heroContainer {
    display: flex;
    flex-direction: row-reverse;
    img {
      max-width: 50%
    }
  }
}

.spotsContainer {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0 8px;
    img {
      aspect-ratio: 3/2;
      object-fit: cover;
    }
}

.singleSpotContainer {
  position: relative;
  width: 33%;
  border-radius: 8px;
}

.spotName {
    position: absolute;
    top: 40%;
    left: 40%;
    color: papayawhip;
}

@media (max-width: 1023px) {
  .spotsContainer {
    display: none;
  }
} 

/*  ikonen) */
.productCard {
  position: relative; /* så .heartIconWrapper kan placeras absolut */
}


.cardDesc {
  margin-top: 6px;
  font-size: 13px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2;      /* max 2 rader */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
